/* side nav */
        .column-left-item{ width: 35%; margin-top: -3.3em; padding-left: 2em; }
        .column-center-item{ width: 30%; margin-left: 1em; margin-bottom: 4.5em;}
        .column-right-item{ width: 65%; margin-left: 10px; padding-bottom: 10px; }
	h2.column-right-item{width: 100%;}
#content > div > p {margin-bottom: 1.5em; }
	.column-left-1-of-2 {width: 60%; }
	.column-left-2-of-2 {width: 40%; }
	.colleft {float:left;}
	.colright {float:right; margin-left: 2em; }
	.left {float:left; padding: 0 1em 1em 2em;}
	.right {float:right; padding: 0 1em 0 2em;}
	p.column-left-idhp {font-size: 14px;}
	p.column-center-idhp {font-size: 16px;}
	p.column-right-idhp {font-size: 16px;}
	#imgShow {width: 100%; height:100%;} 
	#primary > div.description.col.span_2_of_3 {font-size: 1.2em;}
	#content > div.description.col.span_2_of_3 {font-size: 1.2em;}
	#content .item img, .item #content img, .image img { border: 0};
	#footer .signature-link.signature-img { height: auto; }
	#branding-bar .row {margin-left: 1.25em;}
/*
	#content > h1 > span.exhibit-page {margin-left: .45em;}
	div.item-file.image-jpeg { padding-bottom: 2em;}
	#exhibit-blocks > div.exhibit-block.layout-concarousel > div > div.carousel-stage.slick-initialized.slick-slider > div > div > div > div > a > img {margin-top: -1em;}
	#exhibit-blocks > div > p > a {font-size: 1em;}
	.itemTitle {margin: -1em 0 -.5em 1%; padding: .5em 1em; width: 95%; font-weight: bold; }
*/
/* IU Lib footer layout */
	#footer-lib ul li {float:left; }
	#footer-lib ul li a {margin: .75em 0 0 0; }
	#footer-lib { list-style-type:none; margin-bottom: -2.5em;}
#footer-lib > div > div.column-left-footer.footerleft > ul {list-style-type:none;}
	.footer ul { float: none; }
	.footerlib-centered { font-size: .9em; margin-top: 1.85em; margin-left: -1.3em; position: absolute; left: 50%; transform: translateX(-50%); }
	.footerlib-icon img  { margin-top: -2.25em; margin-left: -3em; }
        .column-left-footer{ margin-top: 2.5em; /*width: 25%;*/ font-size: 0.9em; }
        .column-center-footer{ width: 33%; font-size: 0.9em;}
        .column-center-footer ul{ list-style-type: none;  }
        .column-right-footer{ margin-top: 1.5em; margin-right: 2em; font-size: 0.9em; /*width: 25%; margin-left: 3.5em*/  }
        .column-right-footer ul{ list-style-type: none;font-size: 0.9em;  }
	.footerleft {float:left;}
	.footerright {float:right; }
	.center { text-align: center; margin-right: 1em; }
	#footerlib-contact {display:none;}
/* add :hover to .buttonlib to enable hover changes (line 45)
 * and uncommment the next linei (line 46) */
	.buttonlib:hover {border-radius: 20px; background-color: #EDEBEB; color: #990000 !important; border: 1px solid #990000; font-size: 12px; height: 36px; font-family:"BentonSansRegular",Helvetica,Arial,sans-serif; } 
	.buttonlib {border-radius: 20px; color: #EDEBEB !important; background-color: #4A3C31; border: 1px solid #EDEBEB; font-size: 12px; height: 36px; font-family:"BentonSansRegular",Helvetica,Arial,sans-serif; display:none; }  */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.videoLine {color: #005a27; width: 100%;}
	hr {clear:both;}
	#vidplayer { height: 352px;}
	[aria-controls~=accessible] {background-color: #663311;}
	div.gsc-control-cse {padding: 0em;}
	td#gs_tti51 {vertical-align: top;}
/*	td.gsc-search-button {display: none;} */ 
	td.gsib_b {padding: 0 0;}
	input#gsc-i-id2 {margin-bottom: 2em;}
	.caption {text-align:center; font-size:1.35em;}
/*	nav#exhibit-pages {position:absolute;} */
	div#distimeline.column-left-idhp.colleft {margin-top: -1em; margin-bottom: 1.5em;}
	#vid_box {display:block;}
	#vid_box_narrow {display:none;}
/*	#exhibit-blocks > div > p {margin-left:1.25em; margin-bottom: 1.25em;} */
	.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 { height: 26px !important; margin-top: 0 !important; min-width: 13px !important; padding: 5px 26px !important; width: 68px !important; }
	.gsc-search-box th, .gsc-search-box td {
	                border-bottom: none;
	}
	div#gsc-iw-id2.gsc-input-box {width: 80% !important;} 
	input#gsc-i-id2.gsc-input {
		margin-top: -0.0625em !important;
	}
	input.gsc-search-button {margin: 0 10px 0 0 ;}
	td.gsc-search-button {padding-top: 1em;}
/*	a:link, a:visited {font-size: 18px !important;} */
	#primary > h3 {margin-bottom .5em;}
	#primary > p:nth-child(12) > a {font-size: 1.25em !important;}
	#fbfrm_head {
		margin: 2% 0 0 6%;
	}
	#fbfrm {
		margin-left: -2%;
		margin-top: 1%;
	}
	#primary > p.col.span_2_of_3_header{
		font-size: 1.4em;
		background: #113366;
		color: #ffffff;
		margin: 0 1em;
		height: 50%;
		width: 53.5%;
		text-align: center;
		vertical-align: text-bottom;
		padding: 1em;
	}
	div.element-set {
		margin-top:2em;
		overflow:hidden;
		clear:both;
	}
	div.element-text {
		float:left;
		clear: left;
		margin-left: 3em; 
	}
	div.element-text:nth-child(n+5){margin-left: 13.3em;}
	#still-image-item-type-metadata-text div:nth-child(n+3){ clear:left; margin-left: 29%; }

	#dublin-core-relation > div:nth-child(n+5){margin-left: 13.3em;}

	div.element-text:first-child {
		font-size: 1.2em;
		float:left;
		width: 55%;
		margin-left: 1em;
		margin-top: -2.5em;
	}
	div.vTitle { margin: 0 7em;}
	h3.colleft.column-left-idhp {margin-bottom: .3em;}	
	#primary > div.description.col.span_3_of_3 {font-size: 1.2em; width: 80%; margin-left: 5.7em; margin-top: 1em;}
	#content > div.description.col.span_2_of_3 {margin-left: 5.7em;}
	#primary > div.description.col.span_1_of_3 > div.item-file.image-jpeg {margin-left: 2em; padding-bottom: 1em;}
	span#item-share {width: 100%; margin-top: 2em;}
	.element h3 {
		margin-bottom: 0.75em;
		clear: left;
		font-size: 1em;
		float:left;
	}
	/* Responsive Grid Layout
	www.responsivegridsystem.com
	*/
	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 0 5em 0 5em;
	}
	.col_foot {
		display: block;
		float:left;
		margin: 1% 0 1% 11%;
	}
	
	.col:first-child { 
		margin-left: .7em; 
		color: #005a27;
	}
	
	p.col { font-size: 16px;}
	
	#rec_description { font-size: 16px; }

	#footer {
		padding: 0;
		text-align: left;
		border-top: 6px solid #990000;
		padding: 32px 0 24px;
	}

	/*  GROUPING  */
	.group:before,
	.group:after {
		content:"";
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
	    zoom:1; /* For IE 6/7 */
	}

	/*  GRID OF THREE  */
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 56%;
	}
	.span_1_of_3 {
		width: 32.2%;
	}
	/* Grid of 3 for Collections */
	.coll_3_of_3 {
		width: 100%;
	}
	.coll_2_of_3 {
		width: 12%;
		border: 0;
	}
	.coll_1_of_3 {
		width: 32.2%;
	}	
	h4.colleft.coll_1_of_3 {
		font-size: .9em;
		font-style: italic;
	}
	/* Grid of 3 for items */
	.item_3_of_3 {
		width: 100%;
	}
	.item_2_of_3 {
		width: 20%;
		border: 0;
	}
	.item_1_of_3 {
		width: 32.2%;
	}	
	h4.colleft.item_1_of_3 {
		font-size: .9em;
		font-style: italic;
	}
	/*  GRID OF two FOR FOOTER  */
	.foot_2_of_2 {
	}
	.foot_1_of_2 {
	}

	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	/* end of Responsive Grid System */

	.container {
		display: -webkit-flex;
		display: flex;
		width: 100%;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		-webkit-justify-content: wrap;
		flex-wrap: wrap;
	}
	#distimeline {
		margin-top: -6.2em;
		margin-left: 0; 
	}
/*	#exhibit-pages{
		width: 220px;
		display: inline-block;
		background-color: #eee;
		padding-left: 1em;
		border-width: 1px;
		border-color: #111;
		border-style: solid;
	}

	#exhibit-pages-top {
		display:none;
	}
	
	#exhibit-pages-top > ul {
		list-style-type: none;
	}
*/	
	#img-display {
		display: block;
	}
	#img-display-narrow {
		display: none;
	}
	#text-display {
		display: block;
	}
	#text-display-narrow {
		display: none;
	}
	#show-hide-video {
		display: block;
	}
	#hide-show-video {
		display: none;
	}

@media screen and (max-width: 1024px) {
	
   .column-center-footer{ margin-left: -6em;  }
}
/*@media screen and (max-width: 989px) {
   #footer-lib ul {
	margin-top: -2em;
	margin-left: unset;
	}
}*/
@media screen and (max-width: 1023px) {
     column-left-footer {width: 100%;}
	.footerlib-centered { position: absolute; left: 50%; transform: translateX(-50%);  margin-top:5em; }
	.column-left-footer { position: absolute; left: 50%; transform: translateX(-50%); }
	.column-right-footer { margin-top: 9em; position: absolute; left: 50%; transform: translateX(-50%); }
	#footer-lib {height:13em; width:100%;}
	.footerleft .footerright {float:none;}
  h1 {
	font-size: 1.5rem;
	line-height: 36px; 
     } 
   .element h3 {
      	font-size: 1em;	
	}
   #site-title a img { max-width: 90%; margin-top: 2.5em; }
   .colright { margin-right: 2em; width:100%; float:left; margin-left: 0px; }
   .featured { 
	margin-left: 3px;
	border: 0 }
   .featured.first { 
	float: left; 
	margin-left: 0px
	border: 0; 
 }
   #footer-lib ul { display:block;  }
   #footer a img { margin-top: 2.5em; }
   .column-right-item { margin-left: 60px; width:80%;}
   .column-center-item { margin-left: .5em; }
   #footer .tagline {  
       /*font-size: 1em;
       margin-top: .1em;
       margin-left:  3.25em; */
       line-height: 1.5em;
    }
    #footer .signature-link.signature-img { height: auto; margin-top: -2.8em;
 }
}

@media screen and (max-width: 820px) {
	#footer-bar {display:none;}
	#footer-arch {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float:none !important;
  margin-left: -.75em;
}  
	#footer-digcol {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float:none !important;
} 

.footerlib-icon {margin-left: 1em !important;}
/*  #footer-lib a img { width: 50%; }
  #footer-lib {height: 5em; }
  .buttonlib { line-height: 10px;
      font-size: smaller;
margin-bottom: 1em; }
  .footerlib-centered {
  	font-size: smaller;
   }
  footer li {margin-left: unset;}
   /*.column-right-footer { margin-top: 5em; } */
h1 {
font-size: 1.5rem;
line-height: 36px; 
   } 
 .element h3 {
    	font-size: 1em;	
/*display: none; */
}
 #site-title a img { max-width: 90%; margin-top: 1.5em; }
*.colleft { margin-left: 0em; width:100%; float:left; margin-left: 0px; }
 .column-left-item { width: 90%; }
 .featured { 
	margin-left: 1px;
	border: 0 }
 .featured.first { float: left; margin-left: 0px; }
 a img { /* margin-top: 2.5em; */ }/*
 #footer .tagline { 
     font-size: 1em;
     margin-left:  3.25em;
     line-height: 1.5em;
  }*/
 #footer .tagline {
width: 100%;
/* margin-left: .1em; */
text-align: center;
  }
  #footer .signature-link.signature-img { height: auto; }
  /* div.element-text { display: none; } */
}

@media (max-width: 768px){
#primary-nav  ul.navigation > li {
    background-color: #EDEBEB !important; 
}
#footer .copyright {float:left; margin-left: 2em;}
}

@media screen and (max-width: 639px){
    #footer .tagline {margin-top:-2.7em; width:100%; margin-left:unset; font-size: 18px;}
}

@media screen and (max-width: 472px){
	#block-iul-footersocialmedia > div > div > ul{width:200%; margin-left:auto;}
	#footer .tagline {font-size: 18px;}
	#footer-lib ul {margin-top: 1em;width:200% !important;display:table;} 
	#footer-arch {width:200%;margin-left:-155%;}
	#footer-digcol {width:200%;margin-left:-153%;} */
	.footerlib-icon img {margin-top: -4em !important; }    
}

@media screen and (max-width: 375px){
	#block-iul-footersocialmedia > div > div > ul{width:200%; margin-left:-15%;}
	#footer-arch {width:200%;margin-left:-153%;}
	#footer-digcol {width:200%;margin-left:-150%;} */
}


@media screen and (max-width: 320px){
	#block-iul-footersocialmedia > div > div > ul{width:200%; margin-left:-15%;}
	#footer .tagline {font-size: 18px;}
	#footer-lib ul {margin-top: 1em;width:200% !important;display:table;} 
	#footer-arch {width:200%;margin-left:-150%;}
	#footer-digcol {width:200%;margin-left:-147%;} */
	.footerlib-icon img {margin-top: -4em !important; }    
}
#admin-bar {
	margin: -1.1em 0 0.5em 0;

}
